/* ***********************************************************************************
FileName			: screen.scss
Date				: 28.05.2020
Author				: asantarsieri
Purpose				: sass boilerplate
Modification Log	: check git
*********************************************************************************** */

@media screen {
	
	@import 'partials/normalize';
	@import 'partials/variables';
	@import 'partials/functions';
	@import 'partials/mixins';
	@import 'partials/layout';
};