// =colors
// ---------------------------------------------------------------
$blue_main: rgb(0, 120, 160); // #0078A0
$blue_main--dark: darken($blue_main, 20%);
$blue_main--tsp: transparentize($blue_main, .2);